 <h2 class="bg-info text-primary">Add New Departmnet</h2><hr>
        <table>
    <tr><td><label for="id_department">Department Name:</label></td><td><input type="text" name="department" id="id_department" class="department" /></td></tr>
        <tr><td></td><td><div id="error1"></div></td></tr>
            </table><br/><br/>

        <span class="btn btn-primary" ><a href="#/department_list/" style="color: #ffffff" >BACK</a></span>
        <span class="btn btn-primary" ><a href="#/add_department/" style="color: #ffffff" >ADD</a></span>
         <span class="btn btn-primary" ><a href="#/new_department/new/0/" style="color: #ffffff" >RESET</a></span>

 <div id="wait" style="display:none;width:69px;height:89px;border:1px solid black;position:absolute;top:50%;left:50%;padding:2px;"><img src='{{ STATIC_URL }}images/loading_spinner.gif' width="64" height="64" /><br>Loading..</div>