    <!-- Page Content -->
<div class="container">

        <div class="row">

            <div class="col-lg-12">

                <h1 class="alert-dismissible text-primary">Welcome to Employee Information System</h1>
                <br />
                <p class="text-muted">This system manages employees and department details</p>
                  <hr />
                 <div id="header_ele"><ul >
        <li class="well" ><a   href="#/employee_list/" style="font-size: large" >Employee Details</a></li>
        <li class="well" ><a  href="#/department_list/" style="font-size: large">Department Details</a></li>
                       <hr />
    </ul></div>
            </div>
        </div>
</div>